<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.program.Dao.InvoiceMapper">
  <resultMap id="BaseResultMap" type="com.zh.program.Entrty.Invoice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="invoice_id" jdbcType="VARCHAR" property="invoiceId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="id_card_num" jdbcType="VARCHAR" property="idCardNum" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, invoice_code, invoice_id, phone, id_card_num, amount, state, create_date, create_time, 
    update_time
  </sql>
  <insert id="insert" parameterType="com.zh.program.Entrty.Invoice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invoice (invoice_code, invoice_id, phone, 
      id_card_num, amount, state, 
      create_date, create_time, update_time
      )
    values (#{invoiceCode,jdbcType=VARCHAR}, #{invoiceId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{idCardNum,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{state,jdbcType=TINYINT}, 
      #{createDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zh.program.Entrty.Invoice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invoice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invoiceCode != null">
        invoice_code,
      </if>
      <if test="invoiceId != null">
        invoice_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="idCardNum != null">
        id_card_num,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invoiceCode != null">
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null">
        #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zh.program.Entrty.Invoice">
    update invoice
    set invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      invoice_id = #{invoiceId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      id_card_num = #{idCardNum,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      state = #{state,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByNumber" parameterType="java.lang.Integer">
    update invoice
    set  state = 0
    where id &lt; #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.program.Entrty.Invoice">
    update invoice
    <set>
      <if test="invoiceCode != null">
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceId != null">
        invoice_id = #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null">
        id_card_num = #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from invoice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invoice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invoice
    where 1=1 
    <if test="invoiceCode != null">
       and  invoice_code = #{invoiceCode,jdbcType=VARCHAR}
    </if>
    <if test="invoiceId != null">
       and  invoice_id = #{invoiceId,jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
       and  phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="idCardNum != null">
       and  id_card_num = #{idCardNum,jdbcType=VARCHAR}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=DECIMAL}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="createDate != null">
       and  create_date like #{createDate} '%'
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invoice
    where 1=1 
    <if test="invoiceCode != null">
       and  invoice_code = #{invoiceCode,jdbcType=VARCHAR}
    </if>
    <if test="invoiceId != null">
       and  invoice_id = #{invoiceId,jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
       and  phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="idCardNum != null">
       and  id_card_num = #{idCardNum,jdbcType=VARCHAR}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=DECIMAL}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="createDate != null">
       and  create_date = #{createDate,jdbcType=DATE}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from invoice 
    where 1=1 
    <if test="invoiceCode != null">
       and  invoice_code = #{invoiceCode,jdbcType=VARCHAR}
    </if>
    <if test="invoiceId != null">
       and  invoice_id = #{invoiceId,jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
       and  phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="idCardNum != null">
       and  id_card_num = #{idCardNum,jdbcType=VARCHAR}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=DECIMAL}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="createDate != null">
       and  create_date = #{createDate,jdbcType=DATE}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>