<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="notetext">
    ${item.content}
</div>
<ul>
    <li><label>验证码：</label></li>
    <li>
        <div>
            <input  type="text" name="validateCode"  class="login_input" value=""/>
            <img  id="img" src="/validateCode" onclick="onclickValidateCode(this);" />
        </div>
    </li>
</ul>
</body>
</html>
<script src="../../static/js/jquery.min.js"></script>
<script type="text/javascript">
    function onclickValidateCode(obj){
        $(obj).attr("src","/validateCode?");
    }
</script>
</html>